.lindo{
    text-align: center;
    background-color:blanchedalmond;
    font-size: 1cm;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    height: 250px;
    width: 972px;
    border-radius: 15px;
}

.tcolumnas{
    column-count: 7;
    color:rgb(96, 58, 58);
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    border-radius: 15px ;
    background-color:blanchedalmond;
    margin: 0 auto;
    height: 250px;
    width: 1200px;
}

