<div class="lindo"><br>
    <img src="../../../assets/img/Dayana.jpeg" width="200" height="200">
</div>

<div class="tcolumnas"><br>
    <div>
        <img src="../../../assets/img/nombre.png" width="70" height="70"> 
        <h2>Nombre: Dayana Salazar</h2>
    </div>

    <div><br>
        <img src="../../../assets/img/edad.png" width="70" height="70">
        <h2>Edad: 21 años</h2>
    </div>

    <div><br>
        <img src="../../../assets/img/sexo.png" width="70" height="70">
        <h2>Sexo: Mujer</h2>
    </div>

    <div><br>
        <img src="../../../assets/img/astrologia.png" width="70" height="70">
        <h2>Horoscopo: Virgo</h2>
    </div>

    <div><br>
        <img src="../../../assets/img/colegio.png" width="70" height="70">
        <h2>Escuela: Instituto Tecnologico de Cuautla</h2>
    </div>

    <div><br>
        <img src="../../../assets/img/maestro.png" width="70" height="70">
        <h2>Maestro: Ing. Guillermo Urzúa Sánchez</h2>
    </div>

    <div><br>
        <img src="../../../assets/img/pelicula.png" width="70" height="70">
        <h2>Pelicula Favorita: Mulan</h2>
    </div><br>
</div><br>

