
    <div class="lindo">
        <div><br>
            <a  href="https://es-la.facebook.com/"> <img src="../../../assets/img/facebook.png" width="25" height="25"></a>
        </div>

        <div><br>
            <a  href="https://www.youtube.com/"><img src="../../../assets/img/youtube.png" width="30" height="30"></a>
        </div>

        <div><br>
            <a href="https://www.instagram.com/"> <img src="../../../assets/img/instagram.png"  width="25" height="25" > </a>
        </div>
    </div>

