.orden{
    background: url(../../../assets/img/fondo1.jpg);
    padding:5px;
    margin: 0 auto;
    height: 100px;
    width: 1200px;
}

.hola{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    color: #3C2317;
}